.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquiza {
    background-color: transparent;
    color: var(--branco);
    border: 1px solid var(--branco);
    border-radius: 24px;
    padding: 0.5em;
    width: 100%;
}

.banner__pesquiza::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--branco);
    text-align: center;
    background: url(../img/Vector.svg) no-repeat;
    background-position: 0.5em;
}

@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 36px;
    }

    .banner__pesquiza {
        width: 50%;
    }

    .banner__pesquiza::placeholder {
        background-position: 7em;
    }
}

@media screen and (min-width: 1366px) {
    .banner {
        padding: 6em 0;
    } 

    .banner__pesquiza {
        width: 35%;
    }

    .banner__pesquiza::placeholder {
        font-size: 16px;
        background-position: 3em;
    }
}